.form {
  width: 800px;
  background-size: 40px 60px;
}

p {
  display: flex;
}
button {
  background-color: #363131;
  cursor: pointer;
}

/* .bar {
    background: linear-gradient(to right, rgb(108,182,228),rgb(202, 146, 23))
} */
