.backgroundcolorRegisterpage {
  background-color: rgba(178, 90, 90, 0.9);
}

.imageRegisterpage {
  border-radius: 13px;
  width: 200px;
  height: 185px;
  background-color: rgba(36, 33, 33, 0.9);
  margin-left: 0px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border: #000000;
  border-width: 2px;
}

.sign_up {
  border-radius: 52px;
  border: #000000;
  border-width: 2px;
  padding: 50px;
  padding-top: 30px;
  background-color: rgba(226, 182, 180, 0.6);
  min-width: 500px;
  font-family: montserrat;
  padding-bottom: 20px;
}

.names {
  display: flex;
  justify-content: flex-start;
}

.inputfname {
  background-color: #cbcbcb;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 150px;
  margin-right: 20px;
  border-radius: 6px;
}
.inputlname {
  background-color: #cbcbcb;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 150px;
  margin-left: 20px;
  border-radius: 6px;
}
.input {
  background-color: #cbcbcb;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
  border-radius: 6px;
}
.measure {
  display: flex;
  justify-content: center;
}

.Registerbutton_Signup_page {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.9);
  margin-top: 35px;
  border: none;
}

.Signin_area {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

.siginbutton {
  /* display: inline-block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    height: 50%;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 15px;
    border: #000000;
    border-style: solid;
    border-width:  2px;
    color: rgba(0, 0, 0, 0.8);
    font-size: 15px;
    font-weight: 700;
    font-family: Montserrat; */
}

.Signinline {
  color: rgba(0, 0, 0, 0.9);
  padding-left: 10px;
}

footer {
  position: fixed;
  left: 0;
  bottom: 3%;
  width: 100%;
  /* background-color: red; */
  color: white;
  text-align: center;
  font-family: Montserrat;
}
